<nav class="container navbar navbar-dark bg-primary my-2">
  <div class="container-fluid">
    <h2 class="navbar-brand">Formulário do Aluno Fulano</h2>
  </div>
</nav>

<form>
  <div class="container">
    <div class="row">
      <div class="col">
        
        <input
          type="text"
          class="form-control"
          placeholder="Nome Completo"
          aria-label="Nome Completo"
        />
      </div>

      <div class="col">
        <input
          type="text"
          class="form-control"
          placeholder="Turma"
          aria-label="Turma"
        />
      </div>

      <div class="list-group">
        <div class="container">
          <div class="row">
            <div class="col">
              <li class="list-group-item my-2">
                <h2 class="mb-1">O aluno consegue escrever ?</h2>
                <span>Sim</span>
              </li>
            </div>
            <div class="col">
              <li class="list-group-item my-2">
                <h2 class="mb-1">O aluno consegue escuta bem ?</h2>
                <span>Não</span>
              </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
