<table class="table">
    <thead>
        
        <th>Perguntas</th>
        <th>Respostas</th>

    </thead>
    <tbody>
      <tr>
        <th>Pergunta 1</th>
        <td>Mark</td>   
      </tr>
      <tr>
        <th>Pergunta 2</th>
        <td>Mark</td>   
      </tr>
      <tr>
        <th>Pergunta 3</th>
        <td>Mark</td>   
      </tr>
      <tr>
        <th>Pergunta 4</th>
        <td>Mark</td>   
      </tr>
      <tr>
        <th>Pergunta 5</th>
        <td>Mark</td>   
      </tr>  
    </tbody>
  </table>