<nav class="container navbar navbar-expand-lg navbar-dark bg-primary my-2">
  <div class="container-fluid">
    <h2 style="color: #fff">Gerar novo formulário</h2>
  </div>
</nav>

<!-- Nome e Turma -->

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
  <div class="container my-3">
    <div class="row">
      <div class="col my-2">
        <input
          type="text"
          class="form-control"
          formControlName="nome"
          placeholder="Nome do Aluno"
          aria-label="Nome do Aluno"
        />
      </div>

      <div class="col my-2">
        <select class="form-select" aria-label="Turma" formControlName="turma">
          <option *ngFor="let turma of turmas" class="form-control">
            {{ turma.turma }}
          </option>
        </select>
      </div>

      <!-- Perguntas do Formulário -->

      <div class="example-form" *ngFor="let lista of listar">
        <div class="form-control">
          <mat-label style="font-weight: 700"> {{ lista.pergunta }}</mat-label>
          <div>
            <mat-radio-group aria-label="selecione uma opção">
              <mat-radio-button
                class="radio-btn"
                value="1"
                style="margin-right: 16px"
                >Sim</mat-radio-button
              >
              <mat-radio-button class="radio-btn" value="2"
                >Não</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="float-end">
      <button type="submit" class="btn btn-outline-success mx-2">Submit</button>
      <button type="button" class="btn btn-outline-danger" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </div>
</form>

<ng-template #LoadingTemplate> carregando ... </ng-template>
