<div class="card w-100 my-5">
    <div class="card-body">
      <h1 class="card-title text-center">Formulário de Alunos</h1>
  
      <form [formGroup]="userForm">
        <div class="row my-4">
          <div class="col-8 m-auto mb-3">
            <div class="form-floating">
              <input type="text" class="form-control" formControlName="nomeAluno">
              <label for="">Nome</label>
            </div>
          </div>
  
          <div class="col-8 m-auto">
            <h2 class="text-center">Pergunta 1</h2>
            <div class="form-floating">
              <input type="text" class="form-control" formControlName="p1">
              <label for="">Resposta: Sim ou Não</label>
            </div>
          </div>
  
  
          <!-- <p class=" text-center">Pergunta 1</p>
  
          <div class="d-flex justify-content-center">
            <div class="form-check mx-2">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">Sim</label>
            </div>
            <div class="form-check mx-2">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
              <label class="form-check-label" for="flexRadioDefault2">Não</label>
            </div>
          </div>      -->
  
        </div>  
  
        <div class="row my-4">
          <div class="form-group col-12 mt-4">
            <button type="button" class="btn btn-outline-danger float-start">Cancelar</button>
            <button type="button" class="btn btn-outline-success float-end" (click)="actionButton()">Enviar</button>
          </div>
        </div>
      </form>
  
    </div>
  </div>
  
