<div class="container">
    <div class="container">
        <button type="button" class="btn btn-success mb-3 float-end" routerLink="cadastro-form">Cadastrar Novo</button>
    </div>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar Aluno" aria-label="Buscar Aluno" aria-describedby="basic-addon1">
    </div>

    <ul class="list-group" *ngFor="let user of users">
            <li class="list-group-item">{{ user.nomeAluno }}</li>  
    </ul>

</div>