nav {
    padding: 5px;
}

h3 {
    color: var(--NomeTitle);
    font-family: Helvetica;
    font-size: 2rem;
    margin: 0 auto;
    
    
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: 1s;
}

.sidebar-off{
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    margin-left: -250px;
    transition: 1s;
}

.offcanvas-start{
    transition: 1s;
    height: 100vh;
    max-width: 250px;
}
