.nav-top {
    padding: 5px;
    border-bottom: 2px solid gray;
    height: 60px;
}

.icone-menu{
    padding: 10px;
    margin-left: 30px;
}

.sidebar-close{
    display: flex;
    justify-content: space-around;
    align-items: center;
}



h3 {
    color: var(--NomeTitle);
    font-family: Helvetica;
    font-size: 2rem;
    
    
    padding: 2px;
    display: flex;
    
}

.sidebar {
    
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: 1s;
}

.sidebar-off{
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    margin-left: -250px;
    transition: 1s;
}

