<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <h1 routerLink="" class="container row-6">Rav - Relatórios</h1>
        <div class="container-fluid ">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="alunos"
                        >Lista de Alunos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="add-aluno"
                        >Criar relatório</a>
                </li>
            </ul>
        </div>
</nav>

<router-outlet></router-outlet>
