.titulo-menu {
    color: var(--NomeTitle);
    font-family: arial;
    font-size: 2rem;
    padding: 2px;
    display: flex;   
    justify-content: center;
    padding-top: 10px;
}
.sidebar {
    
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    transition: 1s;
    
}


